   /* 1. RESET & THEME */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #05020d;
    --text-color: #ffffff;
    --purple: #8b5cf6;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}



:root {
    --bg-color: #05020d;
    --text-color: #ffffff;
    --purple: #8b5cf6;
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

/* ================================
   STEP 2: HEADER / NAVIGATION
================================ */

.sidebar {
    width: 100%;
    padding: 25px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}






